@import '_colors.scss';
@import '_button.scss';
@import '_input.scss';

.container {
    padding: 30px;
    background-color: $bckgColor;
    border-top: 3px solid $borderColor;
    border-bottom: 3px solid $borderColor;
    box-shadow: 6px 6px 37px -5px rgba(0,0,0,0.66);
    z-index: 2;
    h2 {
        margin: 0 0 2rem 0;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        margin:  1rem 0;
    }
    .section  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 1rem;
        border-top: 3px solid $borderColor;
        border-bottom: 3px solid $borderColor;
        background-color: $bckgColor;
        z-index: 2;
        
        
        ul {
            list-style: none;
        }
        
        h3 {
            margin: 0 0 1rem 0;
            width: 100%;
            
        }
        div {
            padding: 0.4rem 1rem;
            display: flex;
            flex-direction: column;
            
            label {
                margin: 0.2rem 0;

            }
            input {
                width: 10rem;
            }
            select {
                width: 6rem;
            }
            select.little {
                    width: 5rem;
                }
            select.big {
                    width: 10rem;
                }
        }
    }
        .buttons {
            
            grid-column: 1/4;
            grid-row: 2/3;
            display: flex;
            justify-content: center;
            align-items: center;

        }
}

