@import '_colors.scss';

.slick-prev:before, .slick-next:before {
    color: $textColor;
}
.slick-slider {
    padding-bottom: 20px;

}
.slick-dots {
    bottom: 0;
}
.slick-slide slick-active {
    width: 200px;
}

