.app {
    height: 100vh;
    display: grid;
    grid-template-areas: 'header header header'
                         '. main .'
                         'footer footer footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 8fr 1fr;
}
