.plots {
    div.plot-area {
        padding: 0 !important;
        width: 100% !important;
        
        div {
            padding: 0;
             width: 100% !important;
            div {
                canvas {
                   width: 100% !important;
                }
            }
        }
        h4 {
            text-align: center;
        }
    }
}