@import '_variables.scss';
.plots {
    div.plot-area {
        padding: 0 2rem !important;
        margin-bottom: 2rem !important;
        @media screen and(max-width: $small) {
            padding: 0 1rem !important;
        }
        width: 100% ;
        
        div {
            padding: 0;
             width: 100% !important;
            div {
                canvas {
                    width: 100%;
                    background-color: white;
                }
                
            }
        }
        h4 {
            text-align: center;
        }
    }
}