@import '_commonLayout.scss';
@import '_variables.scss';
.plot {
    form {
        .properties {

            grid-column: 1/3;
            grid-row: 1/2;
        }
        .buttons {
            grid-column: 3/4;
            grid-row: 1/2;
        }
        @media screen and(max-width: $small) {
        .properties {
            grid-column: 1/4;
            grid-row: 1/2;
        }
        .buttons {
            grid-column: 1/4;
            grid-row: 2/3;
        }        
        }
    }
}