@import '_slickFix.scss';
@import '_variables.scss';
div.welcome {

    div.slider {

        padding: 0 30px;
        @media screen and(max-width: $small) {
            padding: 0 1px;
        }
        @media screen and (min-width: $big) {
             padding: 0 200px;
        }
    }
    
}

div.section.slide {
    margin: 0 20px;
    @media screen and(max-width: $small) {
            margin: 0 2px;
        }
    
}
