.about .section {
  margin-bottom: 1rem; }
  .about .section ul {
    width: 100%; }

.about .made-with ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0; }
  .about .made-with ul li {
    margin: 0 0.5rem; }
    .about .made-with ul li img {
      filter: invert(78%); }
