@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua:700");
body {
  font-family: 'Maven Pro', sans-serif; }

nav > a {
  text-decoration: none;
  color: gainsboro; }
  nav > a:visited, nav > a:hover, nav > a:active {
    color: gainsboro; }
  @media screen and (max-width: 650px) {
    nav > a {
      font-size: 1rem; } }

h1, h2, h3, h4, p, a, label {
  color: gainsboro; }

h1, h2 {
  font-family: 'Inknut Antiqua', serif;
  text-shadow: 2px 2px 8px #000000; }

h3 {
  text-shadow: 2px 2px 8px #000000; }

p {
  text-align: justify;
  font-size: 1rem;
  font-family: 'Maven Pro', sans-serif; }

h3 {
  text-align: center;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 0.5rem; }

i {
  padding-right: 0.5rem; }

button {
  color: gainsboro;
  border: gainsboro 2px solid;
  background-color: transparent;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 3rem;
  transition: 0.4s; }
  button i {
    transition: 0.4s; }

button.action:hover {
  border: #80ff2b 2px solid; }
  button.action:hover i {
    color: #80ff2b; }

button.danger:hover {
  border: #ff0000 2px solid; }
  button.danger:hover i {
    color: #ff0000; }

button.slick-arrow {
  margin: 0; }

select {
  transition: 0.4s;
  color: gainsboro;
  border: gainsboro 2px solid;
  background-color: transparent;
  border-radius: 6px;
  padding: 0.2rem 0.5rem; }
  select:hover {
    border: #80ff2b 2px solid; }
  select option {
    color: black; }

input {
  color: gainsboro;
  border: gainsboro 2px solid;
  background-color: transparent;
  border-radius: 6px;
  padding: 0.2rem 0.5rem; }
  input:focus {
    border: #80ff2b 2px solid; }

input.error {
  border: #ff0000 2px solid; }

.container {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 3px solid rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  box-shadow: 6px 6px 37px -5px rgba(0, 0, 0, 0.66);
  z-index: 2; }
  .container h2 {
    margin: 0 0 2rem 0; }
  .container form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 1rem 0; }
  .container .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem;
    border-top: 3px solid rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2; }
    .container .section ul {
      list-style: none; }
    .container .section h3 {
      margin: 0 0 1rem 0;
      width: 100%; }
    .container .section div {
      padding: 0.4rem 1rem;
      display: flex;
      flex-direction: column; }
      .container .section div label {
        margin: 0.2rem 0; }
      .container .section div input {
        width: 10rem; }
      .container .section div select {
        width: 6rem; }
      .container .section div select.little {
        width: 5rem; }
      .container .section div select.big {
        width: 10rem; }
      .container .section div select.very-big {
        width: 14rem; }
  .container .buttons {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center; }

.app {
  height: 100vh;
  display: grid;
  grid-template-areas: 'header header header' '. main .' 'footer footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 20px 6fr 20px;
  grid-gap: 20px; }
  @media screen and (max-width: 650px) {
    .app {
      grid-template-columns: 1fr;
      grid-template-areas: 'header' 'main' 'footer'; } }
  @media screen and (min-width: 1300px) {
    .app {
      grid-template-columns: 1fr 10fr 1fr; } }
  .app div.background {
    background-image: url("../../images/background.png");
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1; }
