.calculate form .geometry {
  grid-column: 1/3;
  grid-row: 1/2; }

.calculate form .temperature {
  grid-column: 3/4;
  grid-row: 1/2; }

.calculate form .buttons {
  grid-column: 1/4;
  grid-row: 2/3; }

@media screen and (max-width: 550px) {
  .calculate form .geometry {
    grid-column: 1/4;
    grid-row: 1/2; }
  .calculate form .temperature {
    grid-column: 1/4;
    grid-row: 2/3; }
  .calculate form .buttons {
    grid-column: 1 / 4;
    grid-row: 3 / 4; } }
