.header {
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 12px 37px -12px rgba(0, 0, 0, 0.66); }
  .header .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px; }
    .header .title img {
      height: 70px; }
    .header .title h1 {
      margin: 0 20px; }
    @media screen and (max-width: 550px) {
      .header .title img {
        height: 50px; }
      .header .title h1 {
        font-size: 1.5rem;
        line-height: 1.7rem;
        text-align: center; } }
  .header nav {
    display: flex;
    border-bottom: rgba(0, 0, 0, 0.4) solid 3px;
    margin: 0.5rem 0 0 0;
    padding: 0; }
    .header nav a {
      text-align: center;
      transition: 0.5s;
      display: block;
      width: 100%;
      flex: 1;
      padding: 0.5rem 0.6rem;
      text-transform: uppercase; }
      .header nav a:hover {
        background-color: rgba(0, 0, 0, 0.4); }
      @media screen and (min-width: 550px) {
        .header nav a:nth-last-child(1) {
          margin-right: 5rem; }
        .header nav a:nth-child(1) {
          margin-left: 5rem; } }
    .header nav a.active {
      background-color: rgba(0, 0, 0, 0.4); }
