.header {
  grid-area: header;
  margin-bottom: 20px; }
  .header .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px; }
    .header .title img {
      height: 70px; }
    .header .title h1 {
      margin: 0 20px; }
  .header nav {
    display: flex;
    margin: 1rem 0 0 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.35); }
    .header nav a {
      text-align: center;
      transition: 0.2s;
      display: block;
      width: 100%;
      text-decoration: none;
      color: black;
      flex: 1;
      padding: 0.75rem 0; }
      .header nav a:hover {
        background-color: rgba(0, 0, 0, 0.35); }
      .header nav a:visited, .header nav a:hover, .header nav a:active {
        color: black; }
      @media screen and (min-width: 550px) {
        .header nav a:nth-last-child(1) {
          margin-right: 5rem; }
        .header nav a:nth-child(1) {
          margin-left: 5rem; } }
    .header nav a.active {
      background-color: rgba(0, 0, 0, 0.35); }
