.container {
  padding: 30px;
  background-color: beige; }
  .container h2 {
    margin: 0 0 2rem 0; }
  .container form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 1rem 0; }
  .container .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem;
    border: 1px solid gray; }
    .container .section h3 {
      margin: 0 0 1rem 0;
      width: 100%; }
    .container .section div {
      padding: 0.4rem 1rem;
      display: flex;
      flex-direction: column; }
      .container .section div label {
        margin: 0.2rem 0; }
      .container .section div input {
        width: 10rem; }
      .container .section div select {
        width: 6rem; }
  .container .buttons {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .buttons button {
      margin: 0 0.25rem; }

.plot form .properties {
  grid-column: 1/3;
  grid-row: 1/2; }

.plot form .buttons {
  grid-column: 3/4;
  grid-row: 1/2; }

@media screen and (max-width: 550px) {
  .plot form .properties {
    grid-column: 1/4;
    grid-row: 1/2; }
  .plot form .buttons {
    grid-column: 1/4;
    grid-row: 2/3; } }
