.plot form .properties {
  grid-column: 1/3;
  grid-row: 1/2; }

.plot form .buttons {
  grid-column: 3/4;
  grid-row: 1/2; }

@media screen and (max-width: 650px) {
  .plot form .properties {
    grid-column: 1/4;
    grid-row: 1/2; }
  .plot form .buttons {
    grid-column: 1/4;
    grid-row: 2/3; } }
