.plots div.plot-area {
  padding: 0 2rem !important;
  margin-bottom: 2rem !important;
  width: 100%; }
  @media screen and (max-width: 550px) {
    .plots div.plot-area {
      padding: 0 1rem !important; } }
  .plots div.plot-area div {
    padding: 0;
    width: 100% !important; }
    .plots div.plot-area div div canvas {
      width: 100%;
      background-color: white; }
  .plots div.plot-area h4 {
    text-align: center; }
