.slick-prev:before, .slick-next:before {
  color: gainsboro; }

.slick-slider {
  padding-bottom: 20px; }

.slick-dots {
  bottom: 0; }

.slick-slide slick-active {
  width: 200px; }

div.welcome div.slider {
  padding: 0 30px; }
  @media screen and (max-width: 650px) {
    div.welcome div.slider {
      padding: 0 1px; } }
  @media screen and (min-width: 1300px) {
    div.welcome div.slider {
      padding: 0 200px; } }

div.section.slide {
  margin: 0 20px; }
  @media screen and (max-width: 650px) {
    div.section.slide {
      margin: 0 2px; } }
